button{
    margin:auto;
    margin-top: 300px;
    padding: 5px;
    margin-left: 6px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 11px;
    box-shadow: 0 6px 8px 3px rgba(0,0,0,0.2), 0 6px 10px 3px rgba(0,0,0,0.19);
   /*box-shadow: inset 1px 2px 2px black;*/
   background: linear-gradient(to bottom, #99ffcc 0%, #ff99cc 100%);
   background: linear-gradient(to bottom, #99ffcc 0%, #ff99ff 100%);
   background-image: url("https://thumbs.dreamstime.com/thumblarge_1243/12432522.jpg");
}
button:hover{
    font-style: italic;
    font-size: 27px;
    font-weight: 20px;
    cursor: pointer;
    color:brown;
    background: burlywood;
   /* background: linear-gradient(to top, #99ffcc 0%, #ff99ff 100%);
    background: linear-gradient(to bottom, #cc00cc 0%, #66ffcc 100%);
    background: linear-gradient(to bottom, #ff33cc 0%, #ccff66 79%);*/
    background: linear-gradient(to bottom, #993300 0%, #ffcc66 100%);
    background: linear-gradient(to top, #663300 0%, #ffcc66 100%);
    border: 2px solid rgba(10, 10, 10, 0.87);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.548), 0 6px 10px 0 rgba(0, 0, 0, 0.438);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffcc 100%);
}